httplib2==0.20.4
git+https://github.com/PersiscalConsulting/pysimplesoap@fcc65c7d9df503d0c5bf397884096c809c1d455d
git+https://github.com/ingadhoc/pyafipws@py3k
git+https://github.com/OCA/openupgradelib/@master
